@import "styles.scss";
@import 'https://fonts.googleapis.com/css?family=Dosis:400,600,700';
.loginMain
{
    margin-left: 13%;
    display: flex;
    flex-direction: row;

    
    .leftLogin
    {
        margin: 3%;
        h1
        {
            font-size: 240%;
        }
        h1 , p
        {
            padding: 3% 0;
           display: block;
        }
    }

        .rightLogin
        {
            margin:2% 0;
            form article
            {
                
                margin:3% 0;
                .inputText
                {
                    border:none;
                    border-bottom: 2px solid #cccccc;
                    padding-left: 5%;
                    background-color: inherit;
                    background-image: none;

                    :focus
                    {
                        border:none;
                        border-bottom: 2px solid #cccccc;
                    
                    }
                }

                .submit-button
                {
                    background-color: #BD2A57;
                    display: block;
                    color: #ffffff;
                    text-align: center;
                    padding:3%;
                    width:100%;
                    border:none;
                    font-size: 1.2em;
                }
            }

            input:focus ~ .floating-label,
            input:not(:focus):valid ~ .floating-label{
            top: 8px;
            bottom: 10px;
            left: 20px;
            font-size: 11px;
            opacity: 1;
            }
    
            .inputText {
            font-size: 14px;
            width: 400px;
            height: 65px;
            
            }
            .textfield
            {
                position: relative;
            }
    
            .floating-label {
            position: absolute;
            pointer-events: none;
            left: 20px;
            top: 18px;
            transition: 0.2s ease all;
            }
        }

        .requirements {
           
            color: #999;
            max-height: 0;
            max-width: 400px;
            overflow: wrap;
            transition: 0.28s;
            overflow: hidden;
            color: red;
            font-size: 0.8em;
            font-style: italic;
          }

          input:focus:required:invalid {
            & ~ .requirements {
                max-height: 200px;
            }
        }
        //input:not(:focus):not(:placeholder-shown):required:invalid {border: 2px solid red;}

        input:required:valid { border: none; }
        form:invalid> a {
            pointer-events: none;
        }
        .sign-screen-input-field {
            font-size: 14px;
            width: 400px;
            height: 65px;
        }
}