@import 'https://fonts.googleapis.com/css?family=Dosis:400,600,700';
*{
    font-family: Dosis;
}
$desktop:980px;

@mixin desktop
{
    @media(min-width: #{$desktop})
    {
        @content;
    }
}

$colors : 
(
    primary: #cccccc,
    header: #cccccc
);

@function color($color-name)
{
     @return map-get($colors, $color-name)
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    
    vertical-align: baseline; } 
  
  /* HTML5 display-role reset for older browsers */

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
 
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  

*
{
    font-size:0.85em;
}




    
    .footer
    {
        background-color: #cccccc;
        font-size: small; 
        text-align: center;
        padding: 3%;
    }



@media (min-width:900px)
{
        .header , .footer
        {
            padding: 0.5% 10%;
        }
       
        .mainHome
        {
            margin:0 10%;
        }

}
////////////////////////////////////////




body
{
    .containner
    {
        display:flex;
        flex-direction: column;
    }
}
.header
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    // box-shadow: 16px 6px 25px 8px #cccccc;
    // border-bottom: 3px solid #cccccc;
    .logo
    {
        width:40%;
    }
    .logo img
    {
        width:65%;
        margin:5%;
    }
    .topRight
    {
        width: 35%;
        background-color: #cccccc;
        
       .cart
       {
           display: flex;
           
             
                    .cartImage  
                    {
                        width:100%;
                        padding-left:5%;
                        
                        img
                        {
                         width:35%;   
                         float:left;
                         margin-top:8%;
                        }
                        span
                        {
                           float:left;
                           margin-top:18%;
                        }
                    }   
                    
       }

       
    }
    article nav , .topRight .login
    {
        display: none;
    }
    

}


                                    
.mainHome
{
        .slider
        {
                img
                {
                    width:100%;
                    height: 100%;
                }
        }
        .category-containner
        {
            display: flex;
            flex-direction: column;
            .category:nth-child(odd)
                    {
                    .menu-items
                        {
                            order:1;
                        }
                        .description
                        {
                            order:2;
                        }

                    
                    }
                    .category:nth-child(even)
                    {
                        .menu-items
                        {
                            order:2;
                        }
                        .description
                        {
                            order:1;
                        }
                    
                    }
            .category
            {
                display: flex;
                flex-direction: row;
                margin: 5% auto;
                // border-bottom: 2px solid #cccccc;
                // box-shadow: 0px 0px 25px 7px #cccccc;
                .menu-items
                {
                    display: flex;
                    align-items: center;
                    width:35%;

                    img
                    {
                        width:100%;
                    }
                }
                .description
                {
                    width:65%;
                    text-align: center;

                    *
                    {
                        margin:5% auto;
                        
                        display: inline-block;
                    }
                    a
                    {
                        background-color:#BD2A57;
                        color: white;
                        padding: 3%;
                        text-decoration: none;
                        
                    }
                }
            }
        }
}

